<div class="intelLogo"></div>
<div class="amproLogo"></div>
<div class="dennysLogo"></div>
<div class="redlobsterLogo"></div>
<div class="mastersLogo"></div>
<div class="wascLogo"></div>
<div class="html5css3Logo"></div>
<div class="rubyonrailsLogo"></div>
<div class="postgresqlLogo"></div>
