<div class="bodyContainer">
<div class="picture">MATTHEW SEAGLE</div>
<div class="experience">EXPERIENCE</div>
<div class="education">EDUCATION</div>
<div class="website">WEBSITE</div>
<div class="resume">RESUME</div>
<div class="contact">CONTACT</div>
<div class="back"></div>
<div class="line"></div>